<nav class="glass-nav fixed top-0 w-full z-50 px-6 py-4 flex justify-between items-center">
    <div class="flex items-center gap-2">
        <div class="w-8 h-8 bg-linear-to-tr from-emerald-400 to-cyan-500 rounded-lg flex items-center justify-center font-bold text-black text-xs">NX</div>
        <span class="text-xl text-amber-50 font-extrabold tracking-tighter">INVEST<span class="text-emerald-400">O</span></span>
    </div>
    
    <div class="hidden md:flex gap-8 text-sm font-medium text-gray-400 uppercase tracking-widest">
        <a routerLink="" class="hover:text-white cursor-pointer transition-colors">Marchés</a>
        <a routerLink="" class="hover:text-white cursor-pointer transition-colors">Qui sommes nous</a>
        <a routerLink="" class="hover:text-white cursor-pointer transition-colors">Notre outils</a>
    </div>

    <div class="flex items-center gap-4 text-amber-50">
        <a routerLink="connexion" class="text-sm font-semibold cursor-pointer hover:text-emerald-400 transition-colors">Connexion</a>
        <a routerLink="inscription" class="text-black btn-gradient cursor-pointer px-6 py-2.5 rounded-full text-sm font-bold">Inscription</a>
    </div>
</nav>